#top_bar {
    position: absolute;
    width: 100%;
    height: 12%;
    background-color: rgba(0, 1, 2, 0.3);
    z-index: 1;
    display: flex;
    align-items: center;
}

.logo {
    width: 215px;
    height: 36px;
    background-image: url(../images/egistechWhite.png);
    margin-left: 4%;
    background-size: contain;
    background-repeat: no-repeat;
}

.menu {
    color: white;
    font-size: 1.5em;
    margin-left: auto;
    width: 30%;
    display: flex;
}
.menu a {
    margin: auto;
}

.img_slider_container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.prev_button {
    position: absolute;
    left: 3%;
    top: 46%;
    width: 70px;
    height: 70px;
    background-color: rgb(229, 229, 229);
    opacity: 0.7;
    
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.prev_button::before {
    content: "";
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-right: 20px solid #5d5d5d;
    border-bottom: 20px solid transparent;
    margin-right: 10px;
}
.prev_button::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-top: 11px solid transparent;
    border-right: 11px solid rgb(229, 229, 229);
    border-bottom: 11px solid transparent;
    border-left: 10px solid transparent;
    margin-right: 10px;
}

.next_button {
    position: absolute;
    right: 3%;
    top: 46%;
    width: 70px;
    height: 70px;

    background-color: rgb(229, 229, 229);
    opacity: 0.7;

    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.next_button::before {
    content: "";
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 20px solid #5d5d5d;
    border-bottom: 20px solid transparent;
    margin-left: 10px;
}
.next_button::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-top: 11px solid transparent;
    border-left: 11px solid rgb(229, 229, 229);
    border-bottom: 11px solid transparent;
    border-right: 10px solid transparent;
    margin-left: 10px;
}

.control_button {
    position: absolute;
    right: 3%;
    bottom: 13%;
    width: 70px;
    height: 70px;

    background-color: rgb(229, 229, 229);
    opacity: 0.7;

    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.control_button::before {
    content: "";
    width: 0;
    height: 0;
    border-top: 30px solid #5d5d5d;
    border-left: 10px solid #5d5d5d;
    margin-left: auto;
    margin-right: 5px;
}
.control_button::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 30px solid #5d5d5d;
    border-left: 10px solid #5d5d5d;
    margin-right: auto;
}
.control_button.playing::before {
    content: "";
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 20px solid #5d5d5d;
    border-bottom: 20px solid transparent;
    margin-left: 10px;
}
.control_button.playing::after {
    content: none;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 20px solid #5d5d5d;
    border-bottom: 20px solid transparent;
    margin-left: 10px;
}

.img_slider {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100% 100% 100% 100% 100%;
}
.img_slider .slide {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}
.img_slider .slide:nth-child(1) { background-image: url(../images/3.jpg); }
.img_slider .slide:nth-child(2) { background-image: url(../images/1.jpg); }
.img_slider .slide:nth-child(3) { background-image: url(../images/2.jpg); }
.img_slider .slide:nth-child(4) { background-image: url(../images/3.jpg); }
.img_slider .slide:nth-child(5) { background-image: url(../images/1.jpg); }

.img_slider .slide .slide_inner{
    width: 65%;
}
.img_slider .slide .title {
    font-size: 7em;
    line-height: 100%;
    margin-bottom: 3%;
}
.img_slider .slide .content {
    font-size: 2.5em;
    margin: 0px 0px 3% 0px;
}
.img_slider .slide .button {
    display: inline-block;
    background-color: #36badb;
    font-size: 2.5em;
    padding: 10px 15px;
}

.nav_slider {
    position: absolute;
    width: 100%;
    height: 5%;
    bottom: 7%;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_slider > div {
    position: relative;
    font-size: 1.5em;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_slider > div:not(:first-child, :last-child) {
    margin-left: 2%;
    margin-right: 2%;
}
.nav_slider > div.focus {
    font-weight: bold;
}
.nav_slider > div.focus::after {
    position: absolute;
    content: "";
    bottom: 0;
    width: 100%;
    height: 15%;
    background-color: #36badb;
}

#bottom_bar {
    position: absolute;
    width: 100%;
    height: 6%;
    bottom: 0px;
    background-color: rgba(0, 1, 2, 0.3);
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}

